.jumbotron
   %h3 Create a Transaction
   = form_tag transactions_new_path, :method => :post do
      %label{:for => "name"} Price $
      %input{:name => "price", :type =>"text", :size => 5}
      %br
      %br
      %label{:for => "title"} Title
      %input{:name => "title", :type =>"text"}
      %br
      %br
      %label{:for => "title"} Description
      %textarea{:name => "title"}
      %br
      %br
      %h5 Select Co-Payers
      = form_for @all_users do |w|
         %p
            %select{ :name => "question[question_status]" }
            %option{:value => 1}= "label 1"
            %option{:value => 2}= "label 2"
         %p
         = w.submit "Add"
      %br
      %br
      %input{:type => "submit", :value => "Create"}
