= link_to 'Pending Transactions', transactions_path
&nbsp
&nbsp
= link_to 'Requested Transactions', transactions_requests_path
.jumbotron
   .display-4
      Requested Transactions
   %table#requested_transactions
      %thead
         %tr
            %th{:id => 'price_header', :class => change_title_label('price') }= link_to " Price ", transactions_path(:sort=>'price'), :id => 'prices_header'
            %th
            %th
            %th{:id => 'title_header', :class => change_title_label('title') }= link_to " Title ", transactions_path(:sort=>'title'), :id => 'title_header'
            %th
            %th
            %th{:id => 'status_header', :class => change_title_label('status') }= link_to " Status ", transactions_path(:sort=>'status'), :id => 'status_header'
            %th
            %th
            %th{:id => 'approvals_needed_header', :class => change_title_label('approvals_needed') }= link_to " Approvals Needed", transactions_path(:sort=>'status'), :id => 'approvals_needed_header'
            %th
            %th
            %th{:id => 'requester_header', :class => change_title_label('requester') }= link_to " Requester ", transactions_path(:sort=>'requester'), :id => 'requester_header'
            %th
            %th
            %th More Info
      %tbody
         -if @requested_transactions
            - @requested_transactions.each do |tran|
               %tr
                  %td= '$' + tran.price
                  %td
                  %td
                  %td= tran.title
                  %td
                  %td
                  %td= tran.status
                  %td
                  %td
                  %td= (tran.total_payers.to_i - tran.already_paid.to_i).to_s
                  %td
                  %td
                  %td= User.find(tran.requester).name
                  %td
                  %td
                  %td= link_to "Approve This Transaction", transactions_approve_path(tran)
   %br
   %br
   %br
   = link_to 'Create Transaction', transactions_new_path
