%h3 Login
= form_tag login_path, :method => :post do
  = label :login, :username, "Email or username"
  %br
  = text_field :login, :username
  %br
  %br
  = label :login, :password, "Password"
  %br
  = password_field :login, :password
  %br
  %input{:type => "submit", :value => "Login"}

= link_to 'Signup', signup_path
